@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body {
  height: 100%;
  width:100%;
  font-family: 'Poppins', sans-serif;
  color: #222;
}
navbar {
  padding: .8rem;
}
.navbar-nav li {
  padding-right: 20px;
}
.nav-link {
  font-size: 1.1em !important;
}

body{
	font-family: sans-serif;
	background-color: #575454;
	color: #fff;
}
.heading{
	text-align: center;
	font-size: 45px;
	border-bottom: 2px dotted #fff;
}
.container{
	background-color: #696868;
}
.btn-info{
	width:50%;
	letter-spacing: 2px;
	background: transparent;
	transition: all 0.5s ease-in-out;
}
.btn-info:hover{
	transform: scale(1.05);
}
.icn{
	font-family: sans-serif;
	font-size: 17px;
}
br{
	width: 80%;
}
ul li a{
	color: #fff;
	float: left;
	font-family: sans-serif;
	font-size: 22px;
	margin-left: 23px
	margin-right: 10px;
}
ul li a:hover{
	color: #999;
}





